
<div id="pin" class="show row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <%= image_tag @pin.image.url(:medium) %>
      </div>
      <div class="panel-body">
        <h1><%= @pin.title %></h1>
        <p><%= @pin.description %></p>    
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            Submitted by <%= @pin.user.email %> 
            <%= time_ago_in_words(@pin.created_at) %> ago
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_pin_path(@pin), 
                          method: :put, 
                          class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-heart"></span>
                <%= @pin.get_upvotes.size %>
              <% end %>
              <%= link_to 'back', root_path, class: "btn btn-default" %>
              <%= link_to 'edit', edit_pin_path, class: "btn btn-default" %>
              <%= link_to 'Delete', pin_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




